<div class="navbar navbar-light" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul>
                <a href="" class="navbar-brand">Post a pitch</a>
            </ul>
        </div>
        <div class="navbar-nav">
            <a href="/" class="navbar-brand">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>{{current_user.username}}</li>
                <li>Sign Out</li>
                <li>Sign In</li>
            </ul>
        </div>
        <!-- <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div> -->
    </div>
</div>